.phpbb th { background-color:#ffffff; border: solid #999999 1px; color:#323232; font-variant:small-caps; }

.phpbb td.catLeft { background-color:#E5E5E5; border: solid #999999 1px; font-variant:small-caps; } /*F3F3F3*/
.phpbb .cattitle { font-variant:small-caps; }

.phpbb td.odd { background-color:#F3F3F3; border: solid #999999 1px; }
.phpbb td.even { background-color:#F3F3F3; border: solid #999999 1px; }

.phpbb .genmed { font-style:italic; color:#555555; }
.phpbb .quote { background-color: #FFFFFF; border: solid #AFAFAF 1px; }
.phpbb .code { background-color: #FFFFFF; border: solid #AFAFAF 1px; }
